@use "../utilities/variables" as *;

.footer{ /* Estilos para el pie de página */
    margin: 20px;
    background-color: $secondary-color;
    padding: 10px;
    color: $accent-color;
    .ig{
    color:white
    }
}
