@use "../utilities/variables" as *;

*{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

 :root {
   font-family: "Montserrat", sans-serif;
   $primary-color: hsl(200, 77%, 83%);
   $secondary-color: hsl(240, 78%, 51%);
   $accent-color: hsl(300, 78%, 51%);
   $title-size: clamp(1.5rem, 5vw, 2.5rem)
 }

 body{ /* Estilos para el cuerpo de la página */
   margin: 0;
   font-family: "Montserrat", sans-serif;
   background-color: $primary-color;
 }