@use "../utilities/variables" as *;

*{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

 body{ /* Estilos para el cuerpo de la página */
   margin: 0;
   font-family: "Montserrat", sans-serif;
   background-color: $primary-color;
 }